body {
    margin: 0;
    font-size: 32px;
}

.barra-navegacion {
    justify-content: center;
    align-items: center;
}

.barra-navegacion ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: nowrap;
}


.barra-navegacion a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.barra-navegacion a:hover {
    color: blue;
}
